/* :root can be useful for declaring global CSS variables */
:root {  
    --background-color: #F7F5F2;
    --heading-color: #F56D91;
    --accent-color: #8D8DAA;
    --body-text-color: #DFDFDE;
}

body {
  background-color: var(--background-color);
}

/* reset code  */
/* insert properties before and after every element specified within here * all elements */

  *,
  * ::before,
  * ::after {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;  /* chrome browsers */
      -moz-osx-font-smoothing: grayscale;  /* mozilla browsers */
  }


/*--------------
    front style begin
  --------------*/
  h1,
  h2,
  h3 {
      color: var(--heading);
      font-family: 'Crimson Pro', serif;
      font-weight: 900;
      text-transform: uppercase;
  }
  
  h3,
  footer,
  footer p,
  .inspired-text h2, 
  .inspired-text p {
      color: var(--background);
  }
i {
    font-size: 1.25rem;
    margin-right: 1.25rem;
}
  h1 {
    font-size: 3.65rem;
    line-height: 3.3375rem;
}
  h2 span::before {
    content:"\A";
    white-space: pre;
}
h2 {
      font-size: 3.135rem;
      line-height: 2.9125rem;
}
p {
      color: var(--body-text);
      font-weight: 310;
      line-height: 1.75rem;
      font-family: 'Crimson Pro', serif;
      font-size: 1.325rem; 
  }  
/* End front style */  

/* layout begin */
.section-wrapper {
      margin-left: 1rem;
      margin-right: 1rem;
      max-width: 100%;
}

.section-wrapper img {
    max-width: 100%;
}

/* hero section */
.hero-container {
    margin: 2rem 1rem 7.5rem 1rem;
}

.hero-text {
    margin-top: 2rem;
}

/* first Section start*/
.grid-one img{
    margin-bottom: 1.5625rem;
}

.sec-one {
    margin-bottom: 2rem;
}

.sec-one .container p{
    margin-top: 1.3125rem;
}
/* first section end  */



/* Second Section start */
.grid-two img,
.grid-three img {
    margin-bottom: 1rem;
}

.inspired-text,
footer {
    background-color: var(--heading);
}

.inspired-text {  
    margin-bottom: 7.5rem;
    padding: 3rem 1.5rem;
}

.inspired-text p {
    margin-top: 1.5rem;
}
/* second section end  */

/* layout end */


/* Footer begin */
footer {
  line-height: 1.625rem;
  padding: 3rem 2rem;
  font-size: 1rem;
}

footer p {
    margin-top: 2.375rem;
    margin-bottom: 2.375rem;
}
/* End Footer */


/* All links and button start */
.arrow, 
.link {
    display: flex;
    height: 4.5rem;
    align-items: center;
}

.arrow {
    width: 3.5rem;
    justify-content: center;
    background-color: var(--accent);
}

.link {
    width: 16.25rem;
    justify-content: space-between;
    margin-top: 2rem;
    background-color: var(--heading);
}

.link a {
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', sans-serif;
    margin-left: 2rem;
    font-size: 1.25rem;
    line-height: 1.49625rem;
    letter-spacing: 3.64px;
    text-decoration: none;
    color: var(--background);
}

.link:hover,
.link:hover .arrow {
    transition: all .5s ease-out;
}

.link:hover {
    background-color: var(--accent);
}

.link:hover .arrow {
    background-color: var(--heading);
}
/* All links and button end  */


/* social media links */
footer a {
    color: var(--background);
}

footer a:hover {
    color: var(--accent);
}

/* social media links end  */



/* Larger Screens Begin */
/*This should work for Normal desktops(15 to 18 inch) only.  */
@media screen and (min-device-width: 1201px) and (-webkit-min-device-pixel-ratio: 1) { 
    
}
/*Larger Screen end */

/* Tablet Screen begin */
@media screen and (max-width: 1200px) {

}
/* Tablet Screen end */


/* Phone Screen begin */
@media screen and (max-width: 768px) {

}
/* Tablet Screen end */


