:root {
    
    --background-color: #F7F5F2;
    --heading-color: #F56D91;
    --accent-color: #8D8DAA;
    --body-text-color: #DFDFDE;
}



body {
  background-color: var(--background-color);
}


/* Footer */
footer {
  line-height: 1.625rem;
  font-size: 1rem;
  padding: 3rem 2rem;
}

footer p {
  margin-top: 2.375rem;
  margin-bottom: 2.375rem;
}

/* End Footer */